#navbar,img
{
    position: absolute;
    width: 110px;
    height: 39px;
    left: 71px;
    top: 38px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    
    
    color: #000000;
}
#form
{
    background-color: aqua;
}
h1
{
    position: absolute;
    width: 400px;
    height: 154px;
    left: 109px;
    top: 100px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 77px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
#txt1{
position: absolute;
width: 481px;
height: 308px;
left: 849px;
top: 200px;

font-family: 'Barlow';
font-style: normal;
font-weight: 700;
font-size: 54px;
line-height: 77px;

color: #000000;
}
#bl{
    color: blue;
}
#name
{
position: absolute;
width: 250px;
height: 38px;
left: 127px;
top: 340px;
border: none;
font-family: 'Barlow';
font-style: normal;
font-weight: 250;
font-size: 25px;
line-height: 38px;
padding: 10px;
margin: 5px;
color: #000000;
}
#date
{
position: absolute;
width: 250px;
height: 38px;
left: 127px;
top: 420px;
border: none;
font-family: 'Barlow';
font-style: normal;
font-weight: 250;
font-size: 25px;
line-height: 38px;
padding: 10px;
margin: 10px;
color: #000000;
}
#prof
{
position: absolute;
width: 250px;
height: 60px;
left: 127px;
top: 500px;
border: none;
font-family: 'Barlow';
font-style: normal;
font-weight: 250;
font-size: 25px;
line-height: 38px;
padding: 10px;
margin: 10px;
color: #000000;
}
#skills
{
position: absolute;
width: 250px;
height: 60px;
left: 127px;
top: 500px;
border: none;
font-family: 'Barlow';
font-style: normal;
font-weight: 250;
font-size: 25px;
line-height: 38px;
padding: 10px;
margin: 10px;
color: #000000;
}